	{% extends 'CCAA/BaseEnlace.html' %}
	
	{% block Contenido %}
			<div class="alert alert-warning">
						<b>GUION A INFORMAR:&nbsp;</b>
	                    Señor(a): (xxxx), su visita ha sido programada. <b>Por su seguridad</b> es necesario tomar nota de la siguiente información:  el número de su visita es (xxxxxxx) la cual quedo programada para el (fecha), <b>el técnico llegara en cualquier momento durante la franja (hora inicio-hora fin)</b>.
						<br/><br/>Con los cuatro últimos números de la visita puede confirmarla. 
						<br/><br/>Si desea reprogramarla o cancelarla debe hacerlo con 24 horas de anticipación. 
			</div> 
	{% endblock %}
	
	{% block Script %}

	{% endblock %}