	{% extends 'Base/Html.html' %}
	
	{% block Contenido %}
		
		<div class="row">
			<div class="col-lg-12">
         
                <h3 class="page-header">Links </h3>
                
                		<div class="row">
                			
                			<div class="col-md-12">
                		
                				<div class="panel panel-primary">
                
                					<table class="table table-bordered">
                						<thead>
                							<tr>
                								<th><strong>Principal</strong></th>
                								<th><strong>Usuarios - Reset</strong></th>
                								<th><strong>Ayudas</strong></th>
                							</tr>
                						</thead>
                						<tbody>
                							<tr>
                								<td class="padding-lg">
                							    	<p>
                										<a href="http://agendamiento.cable.net.co/" target="_blank">Agendamiento </a>
                									</p>
                									<p>
                										<a href="http://172.18.10.17/" target="_blank">Agendamiento ip </a>
                									</p>
                                                    <p>
                										<a href="http://172.18.10.131/IntrawayCRM/pag/login.php" target="_blank">Intraway </a>
                									</p>
                									<p>
                										<a href="http://200.118.2.186/mascara/logon.jsf" target="_blank">Mascara </a>
                									</p>
                                                    <p>
                										<a href="https://webmail.telmexla.com.co/owa/" target="_blank">Webmail </a>
                									</p>
                									<p>
                										<a href="http://192.168.33.231/TestTelmex/login.aspx" target="_blank">Voice Portal </a>
                									</p>
                                                    <p>
                										<a href="http://200.118.0.118/diagnosticador/residencial/" target="_blank">Diagnosticador </a>
                									</p>
                									<p>
                										<a href="http://172.18.10.134/diagnosticador/residencial/" target="_blank">Diagnosticador.Loc </a>
                									</p>
                								</td>
                								
                								<td class="padding-lg">
                									<p>
                										<a href="https://autogestion123max.telmexla.com.co/PasswordRegistration/default.aspx" target="_blank">Correo Reg </a>
                									</p>
                									
                									<p>
                										<a href="https://autogestion123max.telmexla.com.co/PasswordReset/default.aspx" target="_blank">Correo Reset </a>
                									</p>
                                                    <p>
                										<a href="https://portalusuarios.telmexla.com.co/helpdesk/Helpdesk.php" target="_blank">RR Reset </a>
                									</p>
                								</td>
                                                
                								<td class="padding-lg">
                									<p>
                										<a href="http://colbtarh01/asistentevirtual/" target="_blank">Asistente Virtual </a>
                									</p>
                									
                									<p>
                										<a href="https://comunidadvirtual.claro.com.co/" target="_blank">Comunidad virtual </a>
                									</p>
                                                    <p>
                										<a href="http://172.31.12.215/iwaycc/login" target="_blank">CCAA </a>
                									</p>
                								</td>
                                                
                							</tr>
                						</tbody>
                					</table>
                				
                				</div>
                			
                			</div>
                		</div>

            </div>
		    <div align="right">
             <b>&#169;</b>
            </div>  
        </div>
		
	{% endblock %}
    