{% if Datos.AVERIA == 'Sin_Niveles' %}
<br />
 AVISO: {{ Datos.AVISO|e }}. 
 SÍNTOMA:  Cable_Módem {{ Datos.AVERIA|e }} {{ Datos.INTERMITENCIA == 'SI' ? 'y/o Intermitencia' }} en {{ ubicacion.NOMBRE|e|title }}. 
 SERV.AFECTADOS: {{Datos.AFECTACION|e}}
________________________________________________________________________________________________________________
GUIÓN: 
{% if Datos.RAZON == '1' %}
“Nuestro equipo técnico se encuentra trabajando para atender una falla ocasionada por el hurto de un dispositivo en nuestra red. Tiempo estimado de solución 12 Horas, durante este lapso su servicio puede presentar intermitencia o ausencia del mismo.”
{% endif %}
{% if Datos.RAZON == '2' %}
“Nuestro equipo técnico se encuentra trabajando para atender una falla ocasionada por una ruptura de fibra en nuestra red. Tiempo estimado de solución 12 Horas, durante este lapso su servicio puede presentar intermitencia o ausencia del mismo.”
{% endif %}
{% if Datos.RAZON == '3' %}
“Nuestro equipo técnico se encuentra trabajando para atender una falla ocasionada por fallas en fluido eléctrico. Tiempo estimado de solución 12 Horas, durante este lapso su servicio puede presentar intermitencia o ausencia del mismo.”
{% endif %}
{% if Datos.RAZON == '4' %}
“Nuestro equipo técnico se encuentra trabajando para atender una falla en nuestra plataforma de {{Datos.AFECTACION|e}}. Tiempo estimado de solución 12 Horas, durante este lapso su servicio puede presentar intermitencia o ausencia del mismo.”
{% endif %}
{% if Datos.RAZON == '5' %}
“Nuestro equipo técnico se encuentra trabajando para atender una falla ajena a claro. Tiempo estimado de solución 12 Horas, durante este lapso su servicio puede presentar intermitencia o ausencia del mismo.”
{% endif %}
{% if Datos.RAZON == '6' %}
“Nuestro equipo técnico se encuentra trabajando para atender una falla en la red. Tiempo estimado de solución 12 Horas, durante este lapso su servicio puede presentar intermitencia o ausencia del mismo.”
{% endif %}
________________________________________________________________________________________________________________
PROCESO DE SOPORTE: Validar 1 vecino por Diagnosticador y garantizar que el {{Datos.UBICACION|e}} 
corresponda al reportado… si ambos presentan la misma falla reportar las cuentas.
________________________________________________________________________________________________________________
ESCENARIOS DE MARCACIÓN: --1.Primera vez que el cliente se comunica por este aviso, use la marcación DIS-FMS 
--2.Cliente se ha comunicado en más de una ocasión por este aviso, use la marcación  DIS-AVF.
<br /><br />
{% endif %}{% if Datos.AVERIA == 'Niveles_Desf_Ruido' %}
<br />
 AVISO: {{ Datos.AVISO|e }}. 
 SÍNTOMA:  Cable_Módem {{ Datos.AVERIA|e }} {{ Datos.INTERMITENCIA == 'SI' ? 'y/o Intermitencia' }} en {{ ubicacion.NOMBRE|e|title }}.  
 SERV.AFECTADOS: 3_Play
________________________________________________________________________________________________________________
Recuerde: <br />{{ Datos.AVERIA|e }} generan Intermitencia, Pixelación, Ausencia de Señal, Lentitud y problemas de Calidad de Voz
________________________________________________________________________________________________________________
GUIÓN: 
{% if Datos.RAZON == '1' %}
“Nuestro equipo técnico se encuentra trabajando para atender una falla ocasionada por el hurto de un dispositivo en nuestra red. Tiempo estimado de solución 98 Horas, durante este lapso su servicio puede presentar intermitencia o ausencia del mismo.”
{% endif %}
{% if Datos.RAZON == '2' %}
“Nuestro equipo técnico se encuentra trabajando para atender una falla ocasionada por una ruptura de fibra en nuestra red. Tiempo estimado de solución 98 Horas, durante este lapso su servicio puede presentar intermitencia o ausencia del mismo.”
{% endif %}
{% if Datos.RAZON == '3' %}
“Nuestro equipo técnico se encuentra trabajando para atender una falla ocasionada por fallas en fluido eléctrico. Tiempo estimado de solución 98 Horas, durante este lapso su servicio puede presentar intermitencia o ausencia del mismo.”
{% endif %}
{% if Datos.RAZON == '4' %}
“Nuestro equipo técnico se encuentra trabajando para atender una falla en nuestra plataforma de {{Datos.AFECTACION|e}}. Tiempo estimado de solución 98 Horas, durante este lapso su servicio puede presentar intermitencia o ausencia del mismo.”
{% endif %}
{% if Datos.RAZON == '5' %}
“Nuestro equipo técnico se encuentra trabajando para atender una falla ajena a claro. Tiempo estimado de solución 98 Horas, durante este lapso su servicio puede presentar intermitencia o ausencia del mismo.”
{% endif %}
{% if Datos.RAZON == '6' %}
“Nuestro equipo técnico se encuentra trabajando para atender una falla en la red. Tiempo estimado de solución 98 Horas, durante este lapso su servicio puede presentar intermitencia o ausencia del mismo.”
{% endif %}
________________________________________________________________________________________________________________
PROCESO DE SOPORTE: Validar 1 vecino a través de Diagnosticador y garantizar que el {{ ubicacion.NOMBRE|e|title }} 
corresponda al reportado, si ambos presentan la misma falla reportar las cuentas. 
Si los niveles están correctos confirme telefónicamente con 1 vecino, si el vecino presenta intermitencia reporte ambas cuentas. 
En caso contrario continúe con proceso CCAA
________________________________________________________________________________________________________________
ESCENARIOS DE MARCACIÓN: --1.Primera vez que el cliente se comunica por este aviso, use la marcación SOP-MRU 
--2.Cliente se ha comunicado en más de una ocasión por este aviso, use la marcación  DIS-AVF.
<br /><br />		
{% endif %}{% if Datos.AVERIA == 'Niveles_Desf_Potencia' %}
<br />
 AVISO: {{ Datos.AVISO|e }}. 
 SÍNTOMA:  Cable_Módem {{ Datos.AVERIA|e }} {{ Datos.INTERMITENCIA == 'SI' ? 'y/o Intermitencia' }} en {{ ubicacion.NOMBRE|e|title }}.  
 SERV.AFECTADOS: 3_Play
________________________________________________________________________________________________________________
Recuerde: <br />{{ Datos.AVERIA|e }} generan Intermitencia, Pixelación, Ausencia de Señal, Lentitud y problemas de Calidad de Voz
________________________________________________________________________________________________________________
GUIÓN: 
{% if Datos.RAZON == '1' %}
“Nuestro equipo técnico se encuentra trabajando para atender una falla ocasionada por el hurto de un dispositivo en nuestra red. Tiempo estimado de solución 98 Horas, durante este lapso su servicio puede presentar intermitencia o ausencia del mismo.”
{% endif %}
{% if Datos.RAZON == '2' %}
“Nuestro equipo técnico se encuentra trabajando para atender una falla ocasionada por una ruptura de fibra en nuestra red. Tiempo estimado de solución 98 Horas, durante este lapso su servicio puede presentar intermitencia o ausencia del mismo.”
{% endif %}
{% if Datos.RAZON == '3' %}
“Nuestro equipo técnico se encuentra trabajando para atender una falla ocasionada por fallas en fluido eléctrico. Tiempo estimado de solución 98 Horas, durante este lapso su servicio puede presentar intermitencia o ausencia del mismo.”
{% endif %}
{% if Datos.RAZON == '4' %}
“Nuestro equipo técnico se encuentra trabajando para atender una falla en nuestra plataforma de {{Datos.AFECTACION|e}}. Tiempo estimado de solución 98 Horas, durante este lapso su servicio puede presentar intermitencia o ausencia del mismo.”
{% endif %}
{% if Datos.RAZON == '5' %}
“Nuestro equipo técnico se encuentra trabajando para atender una falla ajena a claro. Tiempo estimado de solución 98 Horas, durante este lapso su servicio puede presentar intermitencia o ausencia del mismo.”
{% endif %}
{% if Datos.RAZON == '6' %}
“Nuestro equipo técnico se encuentra trabajando para atender una falla en la red. Tiempo estimado de solución 98 Horas, durante este lapso su servicio puede presentar intermitencia o ausencia del mismo.”
{% endif %}
________________________________________________________________________________________________________________
PROCESO DE SOPORTE: Validar 1 vecino a través de Diagnosticador y garantizar que el {{ ubicacion.NOMBRE|e|title }} 
corresponda al reportado, si ambos presentan la misma falla reportar las cuentas. 
Si los niveles están correctos confirme telefónicamente con 1 vecino, si el vecino presenta intermitencia reporte ambas cuentas. 
En caso contrario continúe con proceso CCAA
________________________________________________________________________________________________________________
ESCENARIOS DE MARCACIÓN: --1.Primera vez que el cliente se comunica por este aviso, use la marcación SOP-MRU 
--2.Cliente se ha comunicado en más de una ocasión por este aviso, use la marcación  DIS-AVF.
<br /><br />
{% endif %}{% if Datos.AVERIA == 'Niveles_Desfasados' %}
<br />
 AVISO: {{ Datos.AVISO|e }}. 
 SÍNTOMA:  Cable_Módem {{ Datos.AVERIA|e }} {{ Datos.INTERMITENCIA == 'SI' ? 'y/o Intermitencia' }} en {{ ubicacion.NOMBRE|e|title }}.  
 SERV.AFECTADOS: 3_Play
________________________________________________________________________________________________________________
Recuerde: <br />{{ Datos.AVERIA|e }} generan Intermitencia, Pixelación, Ausencia de Señal, Lentitud y problemas de Calidad de Voz
________________________________________________________________________________________________________________
GUIÓN: 
{% if Datos.RAZON == '1' %}
“Nuestro equipo técnico se encuentra trabajando para atender una falla ocasionada por el hurto de un dispositivo en nuestra red. Tiempo estimado de solución 98 Horas, durante este lapso su servicio puede presentar intermitencia o ausencia del mismo.”
{% endif %}
{% if Datos.RAZON == '2' %}
“Nuestro equipo técnico se encuentra trabajando para atender una falla ocasionada por una ruptura de fibra en nuestra red. Tiempo estimado de solución 98 Horas, durante este lapso su servicio puede presentar intermitencia o ausencia del mismo.”
{% endif %}
{% if Datos.RAZON == '3' %}
“Nuestro equipo técnico se encuentra trabajando para atender una falla ocasionada por fallas en fluido eléctrico. Tiempo estimado de solución 98 Horas, durante este lapso su servicio puede presentar intermitencia o ausencia del mismo.”
{% endif %}
{% if Datos.RAZON == '4' %}
“Nuestro equipo técnico se encuentra trabajando para atender una falla en nuestra plataforma de {{Datos.AFECTACION|e}}. Tiempo estimado de solución 98 Horas, durante este lapso su servicio puede presentar intermitencia o ausencia del mismo.”
{% endif %}
{% if Datos.RAZON == '5' %}
“Nuestro equipo técnico se encuentra trabajando para atender una falla ajena a claro. Tiempo estimado de solución 98 Horas, durante este lapso su servicio puede presentar intermitencia o ausencia del mismo.”
{% endif %}
{% if Datos.RAZON == '6' %}
“Nuestro equipo técnico se encuentra trabajando para atender una falla en la red. Tiempo estimado de solución 98 Horas, durante este lapso su servicio puede presentar intermitencia o ausencia del mismo.”
{% endif %}
________________________________________________________________________________________________________________
PROCESO DE SOPORTE: Validar 1 vecino a través de Diagnosticador y garantizar que el {{ ubicacion.NOMBRE|e|title }} 
corresponda al reportado, si ambos presentan la misma falla reportar las cuentas. 
Si los niveles están correctos confirme telefónicamente con 1 vecino, si el vecino presenta intermitencia reporte ambas cuentas. 
En caso contrario continúe con proceso CCAA
________________________________________________________________________________________________________________
ESCENARIOS DE MARCACIÓN: --1.Primera vez que el cliente se comunica por este aviso, use la marcación SOP-MRU 
--2.Cliente se ha comunicado en más de una ocasión por este aviso, use la marcación  DIS-AVF.
<br /><br />
{% endif %}