	{% extends 'Base/Html.html' %}
	
	{% block Contenido %}

		{% include 'Menus/menu_comunicacion.html' %} 
		<style type="text/css">
			li 
			.justificado {
				text-align: justify;
			}
			.active {
					font-weight: bold;
              	}
		</style>
			<div>
						<!-- sub-menú alto impacto  -->
						<ul class="nav nav-tabs">
						  <li><a href="{{ NeuralRutaApp|e }}/Comunicacion/Alto_Impacto/Index">Ingresar Aviso</a></li>
						  <li><a href="{{ NeuralRutaApp|e }}/Comunicacion/Alto_Impacto/Listado">Lista Reportados</a></li>
						  <li class="active"><a href="javascript:;">Observar Aviso </a></li>
						</ul>
						<!-- menú alto impacto  -->
						<br />
							
					<div class="panel-body" id="javascript:;">
					<!-- -->


					
					<!-- -->
					</div>
				
				</div>

<!-- fin -->

	
	{% endblock %}