
<!DOCTYPE html>
<html lang="es">

<head>
			{% include 'Base/Comunicacion/Head.html' %}
</head>

<body class="page-body">

<div class="page-container horizontal-menu">

	
	<header class="navbar navbar-fixed-top">
		
			{% include 'Base/Comunicacion/Header.html' %}	
	
	</header>
	
<div class="main-content">

	<div class="row">
		<!--Alto Impacto  Inicio -->
				
				{% block Contenido %}
				{% endblock %} 
				
<!--Informativos (video)y Notas (blog serviceCo)-->	
		
		<div class="col-sm-6">
		
				{% include 'Informativos/Vista.html' %}
				
		
		</div>
	
		<div class="col-sm-6">
		
				{% include 'Notas/Vista.html' %}
		
		</div>
        
        <div class="col-sm-12">
        
                {% include 'Marquee/Vista.html' %}
                
        </div>

<!-- -->


				 
		<!--Alto Impacto  Fin -->
	</div>
	
	<!-- Footer -->
	<footer class="main">
		
				{% include 'Base/Body/Footer.html' %}	
	
	</footer>

</div>


	   		{% include 'Base/Comunicacion/Script.html' %}
    {% block JS %}
    {% endblock %}


</body>
</html>