<!DOCTYPE html>
<html lang="es">

<head>
			
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
	
	<meta name="viewport" content="width=device-width, initial-scale=1"/>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"/>
	
	<meta name="Expertos" content="APP EXPERTOS" />
	<meta name="author" content="alejo_fix@hotmail.com" />

	<title>Mejoramiento | {{Titulo| e}}</title>
 	<link rel="icon" type="image/png" href="{{NeuralRutaWebPublico}}/assets/images/Veronica/favicon2-04-04.png" />

	<link rel="stylesheet" href="{{NeuralRutaWebPublico}}/assets/js/jquery-ui/css/no-theme/jquery-ui-1.10.3.custom.min.css">
	<link rel="stylesheet" href="{{NeuralRutaWebPublico}}/assets/css/font-icons/entypo/css/entypo.css"/>
	
	<link rel="stylesheet" href="{{NeuralRutaWebPublico}}/assets/css/bootstrap.css"/>
	<link rel="stylesheet" href="{{NeuralRutaWebPublico}}/assets/css/neon-core.css"/>
	<link rel="stylesheet" href="{{NeuralRutaWebPublico}}/assets/css/neon-theme.css"/>
	<link rel="stylesheet" href="{{NeuralRutaWebPublico}}/assets/css/neon-forms.css"/>
	<link rel="stylesheet" href="{{NeuralRutaWebPublico}}/assets/css/custom.css"/>
	<link rel="stylesheet" href="{{NeuralRutaWebPublico}}/assets/css/skins/white.css"/>

	<script src="{{NeuralRutaWebPublico}}/assets/js/jquery-1.11.0.min.js"></script>
	
	<script>$.noConflict();</script>
	
</head>

<body class="page-body">

<div class="page-container horizontal-menu">

	
	<header class="navbar navbar-fixed-top">
		
		<div class="navbar-inner">
		
			<!-- logo -->
			<div class="navbar-brand">
				<a href="index.html">
					<img src="{{NeuralRutaWebPublico}}/assets/images/Oscar/FINAL_SERVICEco.PNG" width="115" alt="" />
				</a>
			</div>
			
			<!-- main menu -->
						
			<ul class="navbar-nav">
				<li class="opened active">
					<a>
						<img src="{{NeuralRutaWebPublico}}/assets/images/Oscar/internet2.png" width="50" alt="50" />
						<b>Internet</b>
					</a>
				</li>
				<li class="opened active">
					<a>
						<img src="{{NeuralRutaWebPublico}}/assets/images/Oscar/tv.png" width="50" alt="50" />
						<b>Televisión</b>
					</a>
				</li>
				<li class="opened active">
					<a>
						<img src="{{NeuralRutaWebPublico}}/assets/images/Oscar/telefonia.png" width="50" alt="50" />
						<b>Telefonía</b>
					</a>
				</li>
				<li class="opened active">
					<a>
						<img src="{{NeuralRutaWebPublico}}/assets/images/Oscar/red2.png" width="50" alt="50" />
						<b>HFC</b>
					</a>
				</li>

			</ul>
			<!-- notifications and other links -->
			<ul class="nav navbar-right pull-right">
				<!-- Log  -->
				<li class="dropdown">
							<img src="{{NeuralRutaWebPublico}}/assets/images/Oscar/iconos-13.png" width="75" alt="75" />
				</li>
				<li class="sep"></li>
			</ul>
	
				

			
		</div>
	
	
	</header>
	
<div class="main-content">

	<div class="row">
		<!--Alto Impacto  Inicio -->
				
			{% block Contenido %}
			{% endblock %} 
				 
		<!--Alto Impacto  Fin -->
	</div>
	
	<!-- Footer -->
	<footer class="main">
		
		{% include 'Base/Body/Footer.html' %}	
	
	</footer>

</div>


	<!-- Imported styles on this page -->
	<link rel="stylesheet" href="{{NeuralRutaWebPublico}}/assets/js/jvectormap/jquery-jvectormap-1.2.2.css">
	<link rel="stylesheet" href="{{NeuralRutaWebPublico}}/assets/js/rickshaw/rickshaw.min.css">
	<!-- Bottom scripts (common) -->
	<script src="{{NeuralRutaWebPublico}}/assets/js/gsap/main-gsap.js"></script>
	<script src="{{NeuralRutaWebPublico}}/assets/js/jquery-ui/js/jquery-ui-1.10.3.minimal.min.js"></script>
	<script src="{{NeuralRutaWebPublico}}/assets/js/bootstrap.js"></script>
	<script src="{{NeuralRutaWebPublico}}/assets/js/joinable.js"></script>
	<script src="{{NeuralRutaWebPublico}}/assets/js/resizeable.js"></script>
	<script src="{{NeuralRutaWebPublico}}/assets/js/neon-api.js"></script>
	<script src="{{NeuralRutaWebPublico}}/assets/js/jvectormap/jquery-jvectormap-1.2.2.min.js"></script>
	<!-- Imported scripts on this page -->
	<script src="{{NeuralRutaWebPublico}}/assets/js/jvectormap/jquery-jvectormap-europe-merc-en.js"></script>
	<script src="{{NeuralRutaWebPublico}}/assets/js/jquery.sparkline.min.js"></script>
	<script src="{{NeuralRutaWebPublico}}/assets/js/rickshaw/vendor/d3.v3.js"></script>
	<script src="{{NeuralRutaWebPublico}}/assets/js/rickshaw/rickshaw.min.js"></script>
	<script src="{{NeuralRutaWebPublico}}/assets/js/raphael-min.js"></script>
	<script src="{{NeuralRutaWebPublico}}/assets/js/morris.min.js"></script>
	<script src="{{NeuralRutaWebPublico}}/assets/js/toastr.js"></script>
	<script src="{{NeuralRutaWebPublico}}/assets/js/neon-chat.js"></script>
	<!-- JavaScripts initializations and stuff -->
	<script src="{{NeuralRutaWebPublico}}/assets/js/neon-custom.js"></script>
	<!-- Demo Settings -->
	<script src="{{NeuralRutaWebPublico}}/assets/js/neon-demo.js"></script>
    {% block JS %}
    {% endblock %}

</div>
</body>
</html>