	{% extends 'Base/Html.html' %}
	
	{% block Contenido %}
	
		{% include 'Menus/menu_mejoramiento.html' %}
		<style type="text/css">
				.active {
					font-weight: bold;
              	}
		</style>
	
	<!-- row project -->	
	<div class="panel panel-default" data-collapsed="0">
	
		<div class="panel-heading">
			<div class="panel-title">
				<strong>Gestión Causa Raíz</strong>
			</div>
		</div>
		
		<!-- sub-menú Causa Raíz  -->
		<ul class="nav nav-tabs">
		  <li role="presentation"><a href="{{ NeuralRutaApp|e }}/Mejoramiento/Causa_Raiz/Asignar">Asignar </a></li>
		  <li role="presentation" class="active"><a href="{{ NeuralRutaApp|e }}/Mejoramiento/Causa_Raiz/Seguimientos">Seguimientos </a></li>
		  <li role="presentation"><a href="{{ NeuralRutaApp|e }}/Mejoramiento/Causa_Raiz/Index">Registrar </a></li>
		</ul>
		
						
		<div class="col-md-12">
		
                <!-- Page not found! -->
                <div class="main-content">
            		<div class="page-error-404">
            			
            			
            			<div class="error-symbol">
            				<i class="entypo-attention"></i>
            			</div>
            			
            			<div class="error-text">
            				<h2>404</h2>
            				<p>Page not found!</p>
            			</div>
            			
            			<hr />
            			
            			
            		</div>
            	</div>
                <!--Page not found!  -->			

		</div>
	</div>
	<!-- row project -->
	
				

	
	{% endblock %}
	
	
	{% block Script %}
	

	
	{% endblock %}