	{% extends 'Base/Html.html' %}
	
	{% block Contenido %}

<!-- inicio -->
	{% include 'Menus/menu_matriz.html' %}		
			
				<div class="panel panel-default" data-collapsed="0">
				
					<div class="panel-heading">
						<div class="panel-title">
							<strong>Creación de Guión Matriz | Afectación Triple Play</strong>
						</div>
						<div class="panel-options">
							<a href="#" data-rel="collapse"><i class="entypo-down-open"></i></a>
							<a href="{{ NeuralRutaApp|e }}/Matriz/TriplePlay"><i class="entypo-arrows-ccw"></i></a>
						</div>
					</div>
					
					<div class="panel-body">
						
						<form class="form-horizontal form-groups-bordered" id="FormularioGuion" name="guion" action='javascript:;' method='post' role="form">

							<div class="form-group">
                           
						        <div class="col-md-12">
                            		<label class="col-sm-3 control-label"><strong>Número Aviso</strong></label>
    								<div class="col-sm-5">
    									<input type="text" class="form-control" name="AVISO" id="aviso" placeholder="10 caracteres Numéricos" maxlength="10" autofocus="autofocus" required/>
    								</div>
                                </div>
                            
                            </div>
							
							<!-- line -->
							
                          	<div class="form-group">
								
								<div class="col-md-12">
									<label class="col-sm-3 control-label"><strong>Razón Avería</strong></label>
										<div class="col-sm-5">
											<select class="form-control" name="RAZON" id="razon" required/>
												<option value="">Seleccione una Opción</option>
												<optgroup>
											
													{% for razon in razonAveria %}
    													<option value="{{ razon.ID|e }}">{{ razon.NOMBRE|e}}</option>
    												{% endfor %}
											
												</optgroup>
											</select>
										</div>
								</div>
							
							</div>
                            
                            <!-- line -->

							<div class="form-group">
                           		
                                <div class="col-md-12">
                            		<label class="col-sm-3 control-label"><strong>Falla</strong></label>
    								<div class="col-sm-3">
                                        <select class="form-control" name="PRIORIDAD" id="prioridad" required/>
                                                <option value="">Seleccione una Opción</option> 
                                                  <optgroup>
                                                    <option value="1">GENERAL</option>
									   		        <option value="2">PUNTUAL</option>
                                                  </optgroup>
                                         </select>	
    								</div>
    								<div class="col-sm-2">
										<div>
											<label>
													<input placeholder="Hora Solución" class="form-control" name="HORAFIN" id="horafin" type="text" />	
											</label>
										</div>
									</div>
                                </div>
                                
                                                           
                            </div>
                            
                            <!-- line -->
		                    
		                    <div class="form-group">
                            	
								<div class="col-md-12">
                            		<label class="col-sm-3 control-label"><strong>Matriz</strong></label>
    								<div class="col-sm-3">
    									<input type="text" class="form-control" name="MATRIZ" id="matriz" type="text" placeholder="# Cta. Matriz" maxlength="6" onkeyUp="return ValNumero(this);" required>
    								</div>
    								<div class="col-sm-2">
										<div>
											<label>
													<input type="text" class="form-control"  name="NODO" id="nodo" type="text" placeholder="Nodo" required>	
											</label>
										</div>
									</div>
    			                </div>
    			                
                            </div>
                            
                            <!-- line -->
							
							<div class="form-group">
                            	
								<div class="col-md-12">
             						<label class="col-sm-3 control-label"><strong>Detalle</strong></label>
    								<div class="col-sm-2">
    						              
                                          {% include 'Listas/Listas_Detalle_Matriz.html' %}
                                          
                              		</div>
                                    <div class="col-sm-3">
    		                             <input name="REFERENCIA" id="referencia"  type="text" class="form-control" placeholder="Ref." maxlength="15">
                              		</div>
    			                </div>
    			                
                            </div>
                            
                            <!-- line -->
                           
                            <div class="form-group">
                            
                            	<div class="col-md-12">
                                    <label class="col-sm-3 control-label"><strong>Intermitencia</strong></label>
                            		<div class="col-sm-3 control-label">
    									<div class="checkbox">
    										<label>
                                                <input name="INTERMITENCIA" value="SI" type="checkbox">
    										</label>
    									</div>
								    </div>
				                </div>
                
                        	</div>

							
                            {% if Sesion.Permisos.HFC.ESCRITURA == true %}
                                <div class="form-group">
								    <div class="col-sm-offset-3 col-sm-5">
											
											<button onclick="show_loading_bar(100);" type="submit" class="btn btn-green btn-icon icon-left" name="boton" value="boton" data-toggle="popover" data-trigger="hover" data-placement="top" data-content="Triple Play - MATRIZ" data-original-title="Generador de Guión">
								                Crear Guión 
								                <i class="entypo-check"></i>
							                 </button>
							                 
                                            		<input type="hidden" name="AFECTACION" value="3_Play">
	                                            	<input type="hidden" name="TIPO" value="2"/>
	                                            	<input type="hidden" name="UBICACION" value="1"/>
													{% for averia in listaAveria %}
														{% if averia.SERVICIO == '1' %}
	                                            		<input type="hidden" name="AVERIA" value="{{ averia.GUION|e }}">
	                                            		{% endif %}	
	                                            	{% endfor %}
                                                	
                                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                            <button type="button" class="btn btn-default btn-icon icon-left" id="borrar" value="Borrar Formulario"/>
                								Borrar Formulario 
                								<i class="entypo-trash"></i>
                							</button>
									</div>
					           </div>
                            {% endif %}


						</form>
						
					</div>
				
				</div>
	


<div class="row" id="Respuesta" style="margin-top: 35px;"></div>

<!-- fin -->
    {% endblock %}
	
        {% block Script %}
        
        
        
	<!-- Imported scripts on this page -->

	<script src="{{NeuralRutaWebPublico}}/assets/js/bootstrap-datepicker.js"></script>
	<script src="{{NeuralRutaWebPublico}}/assets/js/bootstrap-timepicker.min.js"></script>
        
            <style type="text/css">
            	.error {
            		font-family: verdana;
            		font-size: 10px;
            		font-weight: bold;
            		color: red;
            	}
            	
            	.zyos label {
            		color: red;
            		display: block;
            		width: 100%;
            	}
            </style>
            
            <script type="text/javascript">
    			$(document).ready(function() {
    				$("#borrar").click(function() {
    					 $("#FormularioGuion")[0].reset();
    				});
    			 });
		      </script>
            
            
            {% if Sesion.Permisos.HFC.ESCRITURA == true %}
            	
            	<script type="text/javascript" src="{{ NeuralRutaApp|e }}/Matriz/TriplePlay/ajaxJs/ajax.js"></script>
				<script type="text/javascript" src="{{ NeuralRutaApp|e }}/Matriz/TriplePlay/Horas/Horas.js"></script>
				{# 
           			/**
           			 *	{{ validacion|raw }}
           			 *
           			 *	variable que contiene el script de jquery
           			 *	que genera la validacion del formulario
           			 */
				#}
				{{ validacion|raw }}
				
				{# 
           			/**
           			 *	{{ selectDependiente|raw }}
           			 *
           			 *	variable que contiene el script de jquery
           			 *	que genera el select dependiente del campo
           			 *	UBICACION
           			 */
				#}
				{{ selectDependiente|raw }}
				
				
            	
            {% endif %}
        
        
        {% endblock %}