    										<select name="SS2" class="form-control">
    											<option value="">SoftSwich 2</option>
    											<optgroup>
    												{% for ss in SoftSwichListado %}
    													<option value="{{ ss|join('_') }}">{{ ss|join('_') }}</option>
    												{% endfor %}
    											</optgroup>
    										</select>
                                            <select name="SS3" class="form-control">
    											<option value="">SoftSwich 3</option>
    											<optgroup>
    												{% for ss in SoftSwichListado %}
    													<option value="{{ ss|join('_') }}">{{ ss|join('_') }}</option>
    												{% endfor %}
    											</optgroup>
    										</select>
    										<select name="SS4" class="form-control">
    											<option value="">SoftSwich 4</option>
    											<optgroup>
    												{% for ss in SoftSwichListado %}
    													<option value="{{ ss|join('_') }}">{{ ss|join('_') }}</option>
    												{% endfor %}
    											</optgroup>
    										</select>
    										<select name="SS5" class="form-control">
    											<option value="">SoftSwich 5</option>
    											<optgroup>
    												{% for ss in SoftSwichListado %}
    													<option value="{{ ss|join('_') }}">{{ ss|join('_') }}</option>
    												{% endfor %}
    											</optgroup>
    										</select>