	{% extends 'Vista/VistaMovil.html' %}
	
	{% block Contenido %}
		
		<div id="cargaDatos" class="row">
			{% if avisos|length >= 1 %}
				
				{% for datos in avisos %}
				
					{% if datos.PRIORIDAD == 1 %}
						<div class="col-sm-3 col-xs-12">
							<div class="tile-stats tile-plum">
								<div class="num" data-start="007" data-end="{{ datos.AVISO|e }}" data-postfix="" data-duration="400" data-delay="500">{{ datos.AVISO|e }}</div>
								<h3><strong><font size="6">{{ datos.FALLA|e|title }}</font></strong></h3>
								<h3><strong>{{ datos.REGIONAL|e|title }}</strong></h3>
								<p style="font: oblique 120% cursive">{{ datos.DETALLEFALLA|e|lower }}</p>
								<div class="icon"><i style="color: white;  opacity: 0.5;"  class="entypo-traffic-cone"></i>.<br /></div>
							</div>
						</div>
						
					{% elseif datos.PRIORIDAD == 2 %}
						<div class="col-sm-3 col-xs-12">
							<div class="tile-stats tile-aqua">
								<div class="num" data-start="007" data-end="{{ datos.AVISO|e }}" data-postfix="" data-duration="400" data-delay="500">{{ datos.AVISO|e }}</div>
								<h3><strong><font size="6">{{ datos.FALLA|e|title }}</font></strong></h3>
								<h3><strong>{{ datos.REGIONAL|e|title }}</strong></h3>
								<p style="font: oblique 120% cursive">{{ datos.DETALLEFALLA|e|lower }}</p>
								<div class="icon"><i style="color: white;  opacity: 0.5;"  class="entypo-monitor"></i>.<br /></div>
							</div>
						</div>
					
					{% elseif datos.PRIORIDAD == 3 %}
						<div class="col-sm-3 col-xs-12">
							<div class="tile-stats tile-red">
								<div class="num" data-start="007" data-end="{{ datos.AVISO|e }}" data-postfix="" data-duration="400" data-delay="500">{{ datos.AVISO|e }}</div>
								<h3><strong><font size="6">{{ datos.FALLA|e|title }}</font></strong></h3>
								<h3><strong>{{ datos.REGIONAL|e|title }}</strong></h3>
								<p style="font: oblique 120% cursive">{{ datos.DETALLEFALLA|e|lower }}</p>
								<div class="icon"><i style="color: white;  opacity: 0.5;"  class="entypo-phone"></i>.<br /></div>
							</div>
						</div>
							
					{% elseif datos.PRIORIDAD == 4 %}
						<div class="col-sm-3 col-xs-12">
							<div class="tile-stats tile-blue">
								<div class="num" data-start="007" data-end="{{ datos.AVISO|e }}" data-postfix="" data-duration="400" data-delay="500">{{ datos.AVISO|e }}</div>
								<h3><strong><font size="6">{{ datos.FALLA|e|title }}</font></strong></h3>
								<h3><strong>{{ datos.REGIONAL|e|title }}</strong></h3>
								<p style="font: oblique 120% cursive">{{ datos.DETALLEFALLA|e|lower }}</p>
								<div class="icon"><i style="color: white;  opacity: 0.5;"  class="entypo-network"></i>.<br /></div>
							</div>
						</div>
					
					{% elseif datos.PRIORIDAD == 5 %}
						<div class="col-sm-3 col-xs-12">
							<div class="tile-stats tile-cyan">
								<div class="num" data-start="007" data-end="{{ datos.AVISO|e }}" data-postfix="" data-duration="400" data-delay="500">{{ datos.AVISO|e }}</div>
								<h3><strong><font size="6">{{ datos.FALLA|e|title }}</font></strong></h3>
								<h3><strong>{{ datos.REGIONAL|e|title }}</strong></h3>
								<p style="font: oblique 120% cursive">{{ datos.DETALLEFALLA|e|lower }}</p>
								<div class="icon"><i style="color: white;  opacity: 0.5;"  class="entypo-tag"></i>.<br /></div>
							</div>
						</div>
						
						
					{% else %}
	
						<div class="col-sm-3 col-xs-12">
						</div>
	
					{% endif %}
		
				{% endfor %}
				
			{% else %}
			
					<div class="jumbotron">
					  <h2>
					  <span class="glyphicon glyphicon-pushpin" aria-hidden="true"></span>
					  Sin Avisos de Alto Impacto ! 
					  </h2>
					  <h4>Actualmente no existen avisos de alto impacto, por favor ingrese a página de Gerencia o Visor Único. </h4>
					</div>
					
			{% endif %}
		</div>
		
	{% endblock %}
	
	{% block JS %}
	
		<script type="text/javascript">
			jQuery(document).ready(function() {
    			var tiempo = setInterval(function() {
    				jQuery.ajax({
    					type : "POST",
						dataType : "html",
						url : "{{ NeuralRutaApp|e }}/Comunicacion/Dispositivos/AjaxMovil",
						success : function(resultado) {
							jQuery("#cargaDatos").html(resultado);
						}
    				});	
    			}, 5000);
			});
		</script>
	
	{% endblock %}