	{% extends 'Base/Html.html' %}
	
	{% block Contenido %}
	
		{% include 'Menus/menu_mejoramiento.html' %}
		<style type="text/css">
				.active {
					font-weight: bold;
              	}
		</style>
	
	<!-- row project -->	
	<div>
		
		<!-- sub-menú Proyectos  -->
		<ul class="nav nav-tabs">
		  <li role="presentation" class="active"><a href="{{ NeuralRutaApp|e }}/Mejoramiento/Proyectos">Nuevo  Proyecto </a></li>
		  <li role="presentation"><a href="{{ NeuralRutaApp|e }}/Mejoramiento/Proyectos/Seguimientos">Seguimientos </a></li>
		</ul>
						
		<div class="col-md-12">
					<!-- Proyecto Asiganción Principal -->
					
					
					<!-- Proyecto Asiganción Principal -->
		</div>
	</div>
	<!-- row project -->
	
				

	
	{% endblock %}
	
	
	{% block Script %}
	
		<script type="text/javascript" src="{{ NeuralRutaApp|e }}/Mejoramiento/Proyectos/Index/Horas.js"></script>
		
		{{ validacionForm|raw }}
		
		<!-- Imported styles on this page -->
		<link rel="stylesheet" href="{{NeuralRutaWebPublico}}/assets/js/daterangepicker/daterangepicker-bs3.css">

		<!-- Imported scripts on this page -->
		<script src="{{NeuralRutaWebPublico}}/assets/js/daterangepicker/moment.min.js"></script>
		<script src="{{NeuralRutaWebPublico}}/assets/js/daterangepicker/daterangepicker.js"></script>
		
		<!-- Imported styles on this page -->
		<link rel="stylesheet" href="{{NeuralRutaWebPublico}}/assets/js/fullcalendar-2/fullcalendar.min.css">
	
		<!-- Imported scripts on this page -->
		<script src="{{NeuralRutaWebPublico}}/assets/js/bootstrap-datepicker.js"></script>
		<script src="{{NeuralRutaWebPublico}}/assets/js/bootstrap-timepicker.min.js"></script>
		<script src="{{NeuralRutaWebPublico}}/assets/js/bootstrap-colorpicker.min.js"></script>
		<script src="{{NeuralRutaWebPublico}}/assets/js/daterangepicker/moment.min.js"></script>
		<script src="{{NeuralRutaWebPublico}}/assets/js/daterangepicker/daterangepicker.js"></script>
		<script src="{{NeuralRutaWebPublico}}/assets/js/jquery.multi-select.js"></script>
		<script src="{{NeuralRutaWebPublico}}/assets/js/icheck/icheck.min.js"></script>
		<script src="{{NeuralRutaWebPublico}}/assets/js/daterangepicker/moment.min.js"></script>
		<script src="{{NeuralRutaWebPublico}}/assets/js/fullcalendar-2/fullcalendar.min.js"></script>
		<script src="{{NeuralRutaWebPublico}}/assets/js/neon-calendar-2.js"></script>
	
	{% endblock %}