	{% extends 'Base/Html.html' %}
	
	{% block Contenido %}
	
		{% include 'Menus/menu_mejoramiento.html' %}
		<style type="text/css">
				.active {
					font-weight: bold;
              	}
		</style>
	
		
				<div class="panel panel-default" data-collapsed="0">
				
					<div class="panel-heading">
						<div class="panel-title">
							<strong>Proyectos Mejoramiento</strong>
						</div>
					</div>
					
							<!-- sub-menú alto impacto  -->
							<ul class="nav nav-tabs">
							  <li role="presentation"><a href="{{ NeuralRutaApp|e }}/Mejoramiento/Proyectos/Index">Nuevo  Proyecto </a></li>
							  <li role="presentation" class="active"><a href="{{ NeuralRutaApp|e }}/Mejoramiento/Proyectos/Seguimientos">Seguimientos </a></li>
							</ul>
							<!-- menú alto impacto  -->
					
					<div class="panel-body">
					
					</div>
				</div>


		
	







	
		
	{% endblock %}