	{% extends 'Base/Html.html' %}
	
	{% block Contenido %}
		
		<div class="row">
			<div class="col-lg-12">
         
                <h3 class="page-header">Seguimientos</h3>
    
                <!--  -->
                <div class="main-content">
            		<div class="page-error-404">
            			
            			
            			<div class="error-symbol">
            				<i class="entypo-attention"></i>
            			</div>
            			
            			<div class="error-text">
            				<h2>404</h2>
            				<p>Page not found!</p>
            			</div>
            			
            			<hr />
            			
            			
            		</div>
            	</div>
                <!--  -->
    
                

            </div>
		    <div align="right">
             <b>&#169;</b>
            </div>  
        </div>
		
	{% endblock %}