	{% extends 'Base/Html.html' %}
	
	{% block Contenido %}
		
<div class="panel panel-default" data-collapsed="0">
					
		<div class="panel-heading">
			<div class="panel-title">
				<strong>Asignación | Mejoras CCAA</strong>
			</div>
		</div>
		
		<div class="panel-body">

<!--  -->

		
				<div class="panel minimal minimal-gray">
					
					<div class="panel-heading">
						<div class="panel-title">
							
							<ul class="nav nav-tabs">
								<li class="active"><a href="#profile-1" data-toggle="tab">First Tab</a></li>
								<li><a href="#profile-2" data-toggle="tab">Second Tab</a></li>
							</ul>
						</div>
					</div>
					
					<div class="panel-body">
						
						<div class="tab-content">
							<div class="tab-pane active" id="profile-1">
								<strong>Rank tall boy man them over post now</strong>
							</div>
							
							<div class="tab-pane" id="profile-2">
								<strong>Entire any had depend and figure winter</strong>
							</div>
						</div>
						
					</div>
					
				</div>
	






<!-- -->

		</div>


			<form class="form-horizontal form-groups-bordered" id="#" name="#" action='javascript:;' method='post' role="form">

			
			</form>		
</div>
		
	{% endblock %}