	{% extends 'Base/Html.html' %}
	
	{% block Contenido %}

<!-- inicio -->
	{% include 'Menus/menu_matriz.html' %}	
    
    <div class="panel-body">
    
        {% include 'Menus/menu_matriz_diagnosticador.html' %}	
    
        <form class="form-horizontal form-groups-bordered" id="FormularioMDiagnosticador" name="guionmDiagnosticador" action='#' method='post' role="form">
				
           <div class="form-group">
                <div class="col-md-12">
                    <label class="col-sm-3 control-label"><strong>Aviso:</strong></label>
					<div class="col-sm-5">
						<input type="text" class="form-control" autofocus="autofocus" name="aviso" id="aviso" placeholder="Ref. Aviso" maxlength="40" required/>
					</div>
                </div>
            </div>
            <div class="form-group">
               <div class="col-md-12">
            		<label class="col-sm-3 control-label"><strong>Falla</strong></label>
						<div class="col-sm-5">
                            <select class="form-control" name="falla" id="falla" required/>
                                <option value="">Seleccione una Opción</option> 
                                  <optgroup>
                                    <option value="GENERAL">GENERAL</option>
					   		        <option value="PUNTUAL">PUNTUAL</option>
                                  </optgroup>
                            </select>
                        </div>
	            </div>
            </div>
            <div class="form-group">
         		<div class="col-md-12">
            		<label class="col-sm-3 control-label"><strong>Matriz</strong></label>
					<div class="col-sm-3">
						<input type="text" class="form-control" name="matriz" id="matriz" type="text" placeholder="# Cta. Matriz" maxlength="6" onkeyUp="return ValNumero(this);" required>
					</div>
					<div class="col-sm-2">
						<div class="checkbox">
							<label>
								<input name="intermitencia" value=" - SERVICIO INTERMITENTE" type="checkbox">Intermitente
							</label>
						</div>
					</div>
                </div>
            </div>
            <div class="form-group">
    			<div class="col-md-12">
					<label class="col-sm-3 control-label"><strong>Detalle</strong></label>
					<div class="col-sm-2">
	                      <select class="form-control" name="detalle" id="detalle">
    						<option value=" "> </option>
                            <option value="CASAS">CASA</option>
                            <option value="ETAPAS">ETAPA</option>
                            <option value="TORRES">TORRE</option>
                            <option value="BLOQUES">BLOQUE</option>
                            <option value="INTERIORES">INTERIOR</option>
                            <option value="MANZANAS">MANZANA</option>
            	           </select>
              		</div>
                    <div class="col-sm-3">
                         <input name="referencia" id="referencia"  type="text" class="form-control" placeholder="Ref." maxlength="15">
              		</div>
                </div>
            </div>  
            
            {% if Sesion.Permisos.HFC.ESCRITURA == true %}
                
                <div class="form-group">
        		    <div class="col-sm-offset-3 col-sm-5">
    					<button type="submit" class="btn btn-green btn-icon icon-left" name="boton" value="boton" data-toggle="popover" data-trigger="hover" data-placement="top" data-content="DIAGNOSTICADOR" data-original-title="Generador Guión">
    		                Crear Guión 
    		                <i class="entypo-check"></i>
    	                 </button>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <button type="button" class="btn btn-default btn-icon icon-left" id="borrar" value="Borrar Formulario"/>
    						Borrar Formulario 
    						<i class="entypo-trash"></i>
    					</button>
        			</div>
               </div>
               
            {% endif %}        
            
    
        </form>
    </div>
    
    
                <!-- request -->
                <div class="row" id="Respuesta" style="margin-top: 35px;"></div>
    
    
    {% endblock %}
    
    
    {% block Script %}
    
        <style type="text/css">
        	.error {
        		font-family: verdana;
        		font-size: 10px;
        		font-weight: bold;
        		color: red;
        	}
        </style>
        
        <script type="text/javascript">
    		$(document).ready(function() {
    			$("#borrar").click(function() {
    				 $("#FormularioMDiagnosticador")[0].reset();
    			});
    		 });
        </script>
        
        {% if Sesion.Permisos.HFC.ESCRITURA == true %}
	    <script type="text/javascript" src="{{ NeuralRutaWebPublico|e }}/assets/js/HFC/numerico.js"></script>
        <script type="text/javascript" src="{{ NeuralRutaWebPublico|e }}/assets/js/HFC/ajax.js"></script>

	
	       {{ Validacion|raw }}
        {% endif %}

    
    {% endblock %}