	{% extends 'CCAA/Base.html' %}
	
	{% block Contenido %}
	
		<div class="well well-sm">
			<h4>VALIDADOR DIAGNOSTICADOR</h4>
		</div>
		
	<form method="POST" action="javascript:;" id="Formularios" name="Formularios" class="form-wizard validate">

			
			<div class="steps-progress">
				<div class="progress-indicator"></div>
			</div>
			
			<ul>
			
				<li class="active">
					<a href="#tab2-0" data-toggle="tab"><span>0</span>CUENTA DE SUSCRIPTOR</a>
				</li>
				<li>
					<a href="#tab2-1" data-toggle="tab"><span>1</span>HISTÓRICO NIVELES CM</a>
				</li>
				<li>
					<a href="#tab2-2" data-toggle="tab"><span>2</span>HISTÓRICO NIVELES NODO</a>
				</li>
				<li>
					<a href="#tab2-3" data-toggle="tab"><span>3</span>HISTÓRICO PERDIDA DE PAQUETES</a>
				</li>
				<li>
					<a href="#tab2-4" data-toggle="tab"><span>4</span>HISTÓRICO DE MODULACIÓN</a>
				</li>
				<li>
					<a href="#tab2-5" data-toggle="tab"><span>5</span>RESPUESTA</a>
				</li>
				
			</ul>
			
			<div class="tab-content">
				<div class="tab-pane active" id="tab2-0">
					
					<div class="row">
						
						<div class="col-md-4">
							<strong>Ingrese Número de Cuenta Suscriptor</strong>
							</label>
							<div class="input-group">
								<div class="input-group-addon">
									<i class="entypo-user-add"></i>
								</div>
								<input type="text" class="form-control" autofocus="autofocus" name="CUENTA" id="cuenta" data-validate="required" placeholder="Cuenta de Suscriptor" maxlength="8" />
							</div>
						</div>
						
						<div class="col-md-8">
						</div>
						
					</div>

				</div>
				
				<div class="tab-pane" id="tab2-1">
					
					<div class="row">
						
						<div class="col-md-4">
							<div class="form-group">
								<label class="control-label" for="state">
									<strong>Histórico de Niveles SnrUp CableMódem</strong><br />
									<b id="pregunta">¿</b>
										<b id="fix">Presenta Ruido histórico CableMódem</b> 
									<b id="pregunta">?</b> 
								</label>
								<select class="form-control" name="PREGUNTA1" id="pregunta1" required="required">
                                    <option value="">Seleccione una Opción</option>
										<optgroup>
										{% for listadoPreguntas in listado %}
											{% if listadoPreguntas.ID == '1' %}
												<option value="{{ listadoPreguntas.TITULO|e }}">{{ listadoPreguntas.TITULO|e }} - Menores o Igual a 26</option>
											{% endif %}
											{% if listadoPreguntas.ID == '2' %}
												<option value="{{ listadoPreguntas.TITULO|e }}">{{ listadoPreguntas.TITULO|e }} - Mayores o Igual a 27</option>
											{% endif %}	
										{% endfor %}
										</optgroup>
								</select>
           					</div>
						</div>
						<div class="col-md-8">
							<div class="form-group" align="center" >
								<br /><br />
								<a>
								<img src="{{NeuralRutaWebPublico}}/assets/images/CCAA/ejemplo.PNG" width="75%" alt="75%" />
								</a>
							</div>
						</div>
						
					</div>
					
				</div>
				
				<div class="tab-pane" id="tab2-2">
					
				
					<div class="row">
						
						<div class="col-md-4">
							<div class="form-group">
								<label class="control-label" for="state">
									<strong>Histórico de Niveles SnrUp Nodo</strong><br />
									<b id="pregunta">¿</b>
										<b id="fix">Presenta Ruido histórico Nodo</b> 
									<b id="pregunta">?</b> 
								</label>
           						<select class="form-control" name="PREGUNTA2" id="pregunta2" required="required">
                                    <option value="">Seleccione una Opción</option>
										<optgroup>
										{% for listadoPreguntas in listado %}
											{% if listadoPreguntas.ID == '3' %}
												<option value="{{ listadoPreguntas.TITULO|e }}">{{ listadoPreguntas.TITULO|e }} - Menores o Igual a 26</option>
											{% endif %}
											{% if listadoPreguntas.ID == '4' %}
												<option value="{{ listadoPreguntas.TITULO|e }}">{{ listadoPreguntas.TITULO|e }} - Mayores o Igual a 27</option>
											{% endif %}	
										{% endfor %}
										</optgroup>
								</select>
							</div>
						</div>
						<div class="col-md-8">
							<div class="form-group" align="center" >
								<br /><br />
								<a>
								<img src="{{NeuralRutaWebPublico}}/assets/images/CCAA/ejemplo.PNG" width="75%" alt="75%" />
								</a>
							</div>
						</div>

						
					</div>
					
					
				</div>
				
				<div class="tab-pane" id="tab2-3">
					
					<div class="row">
						
						<div class="col-md-4">
							<div class="form-group">
								<label class="control-label" for="state">
									<strong>Histórico Perdida de Paquetes Nodo</strong><br /> 
									<b id="pregunta">¿</b>
										<b id="fix">Presenta perdida de Paquetes Nodo</b> 
									<b id="pregunta">?</b> 
								</label>
           						<select class="form-control" name="PREGUNTA3" id="pregunta3" required="required">
                                    <option value="">Seleccione una Opción</option>
										<optgroup>
										{% for listadoPreguntas in listado %}
											{% if listadoPreguntas.ID == '5' %}
												<option value="{{ listadoPreguntas.TITULO|e }}">{{ listadoPreguntas.TITULO|e }} - Menor o Igual a 1</option>
											{% endif %}
											{% if listadoPreguntas.ID == '6' %}
												<option value="{{ listadoPreguntas.TITULO|e }}">{{ listadoPreguntas.TITULO|e }} - Ok</option>
											{% endif %}	
										{% endfor %}
										</optgroup>
								</select>
							</div>
						</div>
						<div class="col-md-8">
							<div class="form-group" align="center" >
								<br /><br />
								<a>
								<img src="{{NeuralRutaWebPublico}}/assets/images/CCAA/ejemplo.PNG" width="75%" alt="75%" />
								</a>
							</div>
						</div>

						
					</div>
					
				</div>
				
				<div class="tab-pane" id="tab2-4">
								
					<div class="row">
						
						<div class="col-md-4">
							<div class="form-group">
								<label class="control-label" for="state">
									<strong>Histórico de Modulación</strong><br /> 
									<b id="pregunta">¿</b>
										<b id="fix">Hay falla en la Modulación</b> 
									<b id="pregunta">?</b> 
								</label>
           						<select class="form-control" name="PREGUNTA4" id="pregunta4" required="required">
                                    <option value="">Seleccione una Opción</option>
										<optgroup>
										{% for listadoPreguntas in listado %}
											{% if listadoPreguntas.ID == '7' %}
												<option value="{{ listadoPreguntas.TITULO|e }}">{{ listadoPreguntas.TITULO|e }} - Menor a 180</option>
											{% endif %}
											{% if listadoPreguntas.ID == '8' %}
												<option value="{{ listadoPreguntas.TITULO|e }}">{{ listadoPreguntas.TITULO|e }} - Ok</option>
											{% endif %}	
										{% endfor %}
										</optgroup>
								</select>
							</div>
						</div>
						<div class="col-md-8">
							<div class="form-group" align="center" >
								<br /><br />
								<a>
								<img src="{{NeuralRutaWebPublico}}/assets/images/CCAA/ejemplo.PNG" width="75%" alt="75%" />
								</a>
							</div>
						</div>
						
					</div>
					
					
				</div>
				
				<div class="tab-pane" id="tab2-5">
								
					<div class="row">
						
						<div class="form-group">
							<button type="submit" class="btn btn-primary">Cargar Respuesta</button>
						</div>
						<div class="col-md-12">
							{# Manejar div para mostrar el resultado de la petición ajax #}
							<div id="respuestaDiv"></div>	
						</div>
						

						
					</div>

					
				</div>
				
				<ul class="pager wizard">
					<li class="previous">
						<a href="#"><i class="entypo-left-open"></i> Anterior</a>
					</li>
					
					<li class="next">
						<a href="#">Siguiente <i class="entypo-right-open"></i></a>
					</li>
				</ul>
			</div>
		
	</form>
		
	
<style type="text/css">
	.error {
		font-family: verdana;
		font-size: 10px;
		font-weight: bold;
		color: red;
	}
	
	#respuestaDiv {
		font-family: verdana;
		font-size: 15px;
		color: red;
		text-align: center;
	}
	#pregunta { 
			font: 26px quicksand; 
			color:#088A08;
			font-weight: bold; 
			padding: 6px;  
			}
	#fix {
		font-family: verdana;
		font-size: 14px;
		font-weight: bold;
		color: #000000;
	}
</style>
	
	
	{% include 'CCAA/Script.html' %}
	{% endblock %}
	
	{% block Script %}
		{{ validacionForm1|raw }}
	{% endblock %}