	{% extends 'CCAA/Base.html' %}
	
	{% block Contenido %}
	
		<div class="well well-sm">
			<h4>RECOMENDADOR INTERNET</h4>
		</div>
		
			
	<form method="POST" action="javascript:;" id="Formularios" name="Formularios" class="form-wizard validate">
		
			<div class="steps-progress">
				<div class="progress-indicator"></div>
			</div>
			
			<ul>
			
				<li class="active">
					<a href="#tab2-0" data-toggle="tab"><span>0</span>Cuenta Suscriptor</a>
				</li>
				<li>
					<a href="#tab2-1" data-toggle="tab"><span>1</span>Tipo Vivienda</a>
				</li>
				<li>
					<a href="#tab2-2" data-toggle="tab"><span>2</span>Pisos Hogar</a>
				</li>
				<li>
					<a href="#tab2-3" data-toggle="tab"><span>3</span>Metros Cuadrados</a>
				</li>
				<li>
					<a href="#tab2-4" data-toggle="tab"><span>4</span>Habitaciones</a>
				</li>
				<li>
					<a href="#tab2-5" data-toggle="tab"><span>5</span>Uso Cobertura</a>
				</li>
				<li>
					<a href="#tab2-6" data-toggle="tab"><span>6</span>Dispositivos</a>
				</li>
				<li>
					<a href="#tab2-7" data-toggle="tab"><span>7</span>Uso Internet</a>
				</li>
				<li>
					<a href="#tab2-8" data-toggle="tab"><span>8</span>RESPUESTA</a>
				</li>
								
			</ul>
			
			<div class="tab-content">
			
				<div class="tab-pane active" id="tab2-0">
					
					<div class="row">
						
						<div class="col-md-4">
							<strong>Ingrese Número de Cuenta Suscriptor</strong>
							</label>
							<div class="input-group">
								<div class="input-group-addon">
									<i class="entypo-user-add"></i>
								</div>
								<input type="text" class="form-control" name="CUENTA" id="cuenta" data-validate="required" placeholder="Cuenta de Suscriptor" maxlength="8" autofocus="autofocus" />
							</div>
						</div>
						
						<div class="col-md-8">
						</div>
						
					</div>

				</div>
				
				<div class="tab-pane" id="tab2-1">
					
					<div class="row">
						<div class="col-md-6">
							<div class="form-group">
								<label class="control-label" for="state">
									<strong>Confirme con el cliente Tipo de Vivienda.</strong><br />
									<b id="pregunta">¿</b>
										<b id="fix">Vive en Casa o Apartamento</b> 
									<b id="pregunta">?</b> 
								</label>
								<select class="form-control" name="#" id="#" required="required">
                                            <option value="">Seleccione una Opción</option>
											<optgroup>
												<option value="CASA">CASA</option>
												<option value="APARTAMENTO">APARTAMENTO</option>
											</optgroup>
           						</select>
							</div>
						</div>
						<div class="col-md-6"></div>
					</div>
					
				</div>
				
				<div class="tab-pane" id="tab2-2">
					
					<div class="row">
						<div class="col-md-6">
							<div class="form-group">
								<label class="control-label" for="state">
									<strong>ref</strong><br />
									<b id="pregunta">¿</b>
										<b id="fix">pregunta</b> 
									<b id="pregunta">?</b> 
								</label>
								<select class="form-control" name="#" id="#" required="required">
                                            <option value="">Seleccione una Opción</option>
											<optgroup>
												<option value="SI">SI</option>
												<option value="NO">NO</option>
											</optgroup>
           						</select>
							</div>
						</div>
						<div class="col-md-6"></div>
					</div>
					
				</div>
				
				<div class="tab-pane" id="tab2-3">
					
					<div class="row">
						<div class="col-md-6">
							<div class="form-group">
								<label class="control-label" for="state">
									<strong>ref</strong><br />
									<b id="pregunta">¿</b>
										<b id="fix">pregunta</b> 
									<b id="pregunta">?</b> 
								</label>
								<select class="form-control" name="#" id="#" required="required">
                                            <option value="">Seleccione una Opción</option>
											<optgroup>
												<option value="SI">SI</option>
												<option value="NO">NO</option>
											</optgroup>
           						</select>
							</div>
						</div>
						<div class="col-md-6"></div>
					</div>
					
				</div>
				
				<div class="tab-pane" id="tab2-4">
								
					<div class="row">
						<div class="col-md-6">
							<div class="form-group">
								<label class="control-label" for="state">
									<strong>ref</strong><br />
									<b id="pregunta">¿</b>
										<b id="fix">pregunta</b> 
									<b id="pregunta">?</b> 
								</label>
								<select class="form-control" name="#" id="#" required="required">
                                            <option value="">Seleccione una Opción</option>
											<optgroup>
												<option value="SI">SI</option>
												<option value="NO">NO</option>
											</optgroup>
           						</select>
							</div>
						</div>
						<div class="col-md-6"></div>
					</div>
					
				</div>
				
				<div class="tab-pane" id="tab2-5">
								
					<div class="row">
						<div class="col-md-6">
							<div class="form-group">
								<label class="control-label" for="state">
									<strong>ref</strong><br />
									<b id="pregunta">¿</b>
										<b id="fix">pregunta</b> 
									<b id="pregunta">?</b> 
								</label>
								<select class="form-control" name="#" id="#" required="required">
                                            <option value="">Seleccione una Opción</option>
											<optgroup>
												<option value="SI">SI</option>
												<option value="NO">NO</option>
											</optgroup>
           						</select>
							</div>
						</div>
						<div class="col-md-6"></div>
					</div>
					
				</div>
				
				<div class="tab-pane" id="tab2-6">
								
					<div class="row">
						<div class="col-md-6">
							<div class="form-group">
								<label class="control-label" for="state">
									<strong>ref</strong><br />
									<b id="pregunta">¿</b>
										<b id="fix">pregunta</b> 
									<b id="pregunta">?</b> 
								</label>
								<select class="form-control" name="#" id="#" required="required">
                                            <option value="">Seleccione una Opción</option>
											<optgroup>
												<option value="SI">SI</option>
												<option value="NO">NO</option>
											</optgroup>
           						</select>
							</div>
						</div>
						<div class="col-md-6"></div>
					</div>
					
				</div>
				
				<div class="tab-pane" id="tab2-7">
								
					<div class="row">
						<div class="col-md-6">
							<div class="form-group">
								<label class="control-label" for="state">
									<strong>ref</strong><br />
									<b id="pregunta">¿</b>
										<b id="fix">pregunta</b> 
									<b id="pregunta">?</b> 
								</label>
								<select class="form-control" name="#" id="#" required="required">
                                            <option value="">Seleccione una Opción</option>
											<optgroup>
												<option value="SI">SI</option>
												<option value="NO">NO</option>
											</optgroup>
           						</select>
							</div>
						</div>
						<div class="col-md-6"></div>
					</div>
					
				</div>
				<div class="tab-pane" id="tab2-8">
								
					<div class="row">
						
						<div class="form-group">
							<button type="submit" class="btn btn-primary">Cargar Respuesta</button>
						</div>
						<div class="col-md-12">
							{# Manejar div para mostrar el resultado de la petición ajax #}
							<div id="respuestaDiv"></div>	
						</div>
						

						
					</div>

					
				</div>
				
				<ul class="pager wizard">
					<li class="previous">
						<a href="#"><i class="entypo-left-open"></i> Anterior</a>
					</li>
					
					<li class="next">
						<a href="#">Siguiente <i class="entypo-right-open"></i></a>
					</li>
				</ul>
			</div>		
			

	</form>
		
	
<style type="text/css">
	.error {
		font-family: verdana;
		font-size: 10px;
		font-weight: bold;
		color: red;
	}
	
	#respuestaDiv {
		font-family: verdana;
		font-size: 15px;
		color: red;
		text-align: center;
	}
	#pregunta { 
			font: 26px quicksand; 
			color:#088A08;
			font-weight: bold; 
			padding: 6px;  
			}
	#fix {
		font-family: verdana;
		font-size: 14px;
		font-weight: bold;
		color: #000000;
	}
</style>
	
	
	{% include 'CCAA/Script.html' %}
	{% endblock %}
	
	{% block Script %}
		{{ validacionForm|raw }}
	{% endblock %}